---
import "./_styles.scss"
import Base from '../../../layouts/Base.astro'
---

<Base title="Social Profile Card">
  <div class="card">
    <img class="card__image" src="/fm-projects/img/012-avatar-jessica.jpeg" alt="Jessica Randall profile image" />
    <h1 class="card__title">Jessica Randall</h1>
    <p class="card__location">London, United Kingdom</p>
    <p class="card__description">"Front-end developer and avid reader."</p>
    <a class="card__link" href="#">GitHub</a>
    <a class="card__link" href="#">Frontend Mentor</a>
    <a class="card__link" href="#">LinkedIn</a>
    <a class="card__link" href="#">Twitter</a>
    <a class="card__link" href="#">Instagram</a>
  </div>
</Base>