---
import "./_styles.css"
import Base from '../../../layouts/Base.astro'
---

<Base title="Qr Code Card">
  <div class="card">
    <img class="card__img" src="/fm-projects/img/image-qr-code.png" alt="">
    <div class="card__content">
      <p class="card__heading">Improve your front-end skills by building projects</p>
      <p class="card__description">Scan the QR code to visit Frontend Mentor and take your coding skills to the next level</p>
    </div>
  </div>
</Base>